<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>        
        <rule name="WWW to Non WWW" stopProcessing="true">
    		  <match url="(.*)" />
    		  <conditions>             
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
    		  </conditions>          
          <action type="Redirect" url="https://{C:2}" redirectType="Permanent" />
  		  </rule>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions> 
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />                       
          </conditions>          
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>      
  </system.webServer>    
  <location path="dl">
    <system.webServer>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <location path="src">
    <system.webServer>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <location path="views">
    <system.webServer>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
</configuration>