@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

*{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.action{visibility: hidden;}
tr.case-item:hover .action {visibility:visible;}
tr.case-item td input{display: none}
tr.edited.case-item td input{display: inline}
tr.edited td a,tr.edited td span{display: none}
tr.case-item td a.actionEdit{display: none;}
tr.edited td a.actionEdit{display: inline;}


ul#case-list-view li{
	color: #999;
	border: 1px solid #DDD;
	padding: 11px 10px;
	margin:5px 2px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.1;	
	border-radius: 4px;
}
div.activity-item{
	margin:10px 0;
}

div.activity-item input{display: none}
div.activity-item.edited input{display: inline}
div.activity-item:hover .action {visibility:visible;}
div.activity-item.edited a,div.activity-item.edited span{display: none}
div.activity-item a.actionEdit{display: none;}
div.activity-item.edited a.actionEdit{display: inline;}
p#status { position: absolute; bottom: 0; right: 20px; float: right; font-size: 16px;color:#666; }
p#mtime { position: absolute; bottom: 20px; right: 20px; float: right; font-size: 16px;color:#666; }
i.indicator {color:green;font-size: 17px;}
i.indicator.uploading{color:red;}