@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

*{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,body{height: 100%;}
.page{margin-bottom: 50px;}
.table>thead>tr>th {vertical-align: top}
.edited .action{display: none;}
.actionHover{visibility: hidden;font-size: 16px;padding-left: 5px;}
tr.case-item:hover .actionHover {visibility:visible;}
tr.edited td a,tr.edited td span{display: none;}
tr.case-item td .actionEdit{display: none;  }
tr.case-item.edited td .actionEdit{display: inline;}


ul#case-list-view li{
	color: #999;
	border: 1px solid #DDD;
	padding: 11px 10px;
	margin:5px 2px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.1;	
	border-radius: 4px;
}
div.activity-list{
	margin-bottom: 20px;
}
div.activity-item{
	margin:10px 0;
}

div.activity-item input,div.activity-item select{display: none}
div.activity-item.edited input,div.activity-item.edited select{display: inline}
div.activity-item:hover .actionHover {visibility:visible;}
div.activity-item.edited a,div.activity-item.edited span,div.activity-item.edited i.indicator{display: none ;}
div.activity-item a.actionEdit{display: none;}
p#status { position: absolute; bottom: 0; right: 20px; float: right; font-size: 16px;color:#c0c0c0;font-weight: bold }
p#mtime { position: absolute; bottom: 20px; right: 20px; float: right; font-size: 16px;color:#c0c0c0;font-weight: bold; }
i.indicator {color:green;font-size: 17px;}
i.indicator.uploading{color:red;}
.table tr.edited td {padding: 2px;}
.table tr.edited td input{border-radius: 0;}
div.activity-item.edited  {padding: 2px;}
div.activity-item.edited input{border-radius: 0;}

@media (max-width:767px) {
	.actionHover {visibility: visible;padding-right: 0;}	
}